.resume-nav {
    margin-top:2em;
    position: fixed;
    z-index: 999;
    height: 200px;
    width: 100px;
    background-color: white;
    padding: 0 0 0 20px;
    border-radius: 0px 6px 6px 0px;
    box-shadow: 9px 3px 60px -13px rgba(31,95,101,0.58);
}